<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content -Type" content="text/html; charset=UTF-8"/>
  <title>Addresse</title>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet"
        href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css" />
</head>
<body>
<div th:insert="fragments/general.html::navbar"></div>
<form action="/meteo"  method="post">
  <div>
    <label for="address">Entrez votre adresse: </label>
    <input name="address" id="address">
    <button>Valider</button>
  </div>
</form>
</body>
</html>